.container {  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "box1 box1 box1 box3 box3"
    "box1 box1 box1 box4 box4"
    "box2 box2 box2 box2 box2"
    "box5 box6 box7 box8 box9";
}

.box1 { 
    grid-area: box1; 
    background-color: blue;
}

.box3 { 
    grid-area: box3; 
    background-color: blue;
}

.box4 { 
    grid-area: box4; 
    background-color: blue;
}

.box2 { 
    grid-area: box2; 
    background-color: blue;
}

.box5 { 
    grid-area: box5; 
    background-color: blue;
}

.box6 { 
    grid-area: box6; 
    background-color: blue;
}

.box7 { 
    grid-area: box7; 
    background-color: blue;
}

.box8 { 
    grid-area: box8; 
    background-color: blue;
}

.box9 { 
    grid-area: box9; 
    background-color: blue;
}
